BasedOnStyle: LLVM
IndentWidth: 4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: Align
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
BreakBeforeBraces: Custom
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
BinPackArguments: false
BinPackParameters: false
QualifierAlignment: Right
