Checks: "*,
  performance-*,
  modernize-*,
  bugprone-*,
  readability-*,
  clang-analyzer-*,
  misc-const-correctness,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -llvm*,
  -misc-include-cleaner,
  -misc-header-include-cycle,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -hicpp-signed-bitwise
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
